@model StoreFrontApplication.DATA.EF.Product

@{
    ViewBag.Title = "Delete";
}


<h2 class="text-center">Are you sure you want to delete @Model.ProductName?</h2>
<div class="container">
    <hr />

    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/Content/img/products/@Model.ProductName .jpg" class="card-img" alt="@Model.ProductName thumbnail image">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(model => model.ProductName)</h5>
                <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
                <p class="card-text">Supplier: @Html.DisplayFor(model => model.Supplier.CompanyName)</p>
                <p class="card-text">Stock Status: <span class="text-primary font-weight-bold">@Html.DisplayFor(model => model.StockStatu.Status)</span></p>
                <p class="card-text">@Html.DisplayFor(model => model.AmtInStock) in stock</p>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        @Html.ActionLink("Cancel", "Index", new { @class = "btn btn-primary" })
                    </div>
                }
            </div>

        </div>
    </div>




    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmtInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmtInStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmtOnOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmtOnOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockStatu.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockStatu.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.CompanyName)
        </dd>

    </dl>*@


</div>
