@model StoreFrontApplication.DATA.EF.Product

@{
    ViewBag.Title = " Details";
}

<h3 class="card-header text-center">@Model.ProductName @ViewBag.Title</h3>

<div class="card mb-3 offset-1" style="max-width: 80%">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/Content/img/products/@Model.ProductImage" class="card-img" alt="@Model.ProductName thumbnail image">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(model => model.ProductName)</h5>
                <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
                <p class="card-text">Supplier: @Html.DisplayFor(model => model.Supplier.CompanyName)</p>
                <p class="card-text">Stock Status: <span class="text-primary font-weight-bold">@Html.DisplayFor(model => model.StockStatu.Status)</span></p>
                <p class="card-text">@Html.DisplayFor(model => model.AmtInStock) in stock</p>
                <p class="card-text">
                    <small class="text-muted">
                        Price:<br />
                        @Html.DisplayFor(model => model.Price)<br />

                        @* Add to cart *@
                        @using (Html.BeginForm("AddToCart", "ShoppingCart", new { prodId = Model.ProductID }, FormMethod.Post))
                        {
                            <span>Quantity: </span>
                            if (Model.AmtInStock >= 1)
                            {
                                <span>@Html.TextBox("Qty", 1, new { @class = "form-control", style = "max-width: 50px; display: inline;" })</span>
                                <input type="submit" value="Add To Cart!" class="btn btn-success" />
                            }


                        }


                        <br /><br />
                        <a href="@Url.Action("Index", "Products")" class="btn btn-outline-primary">Back to Products</a><br /><br />
                        @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Employee"))
                        {
                            <span>@Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-outline-primary" })</span>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Employee"))
                        {
                            <span>@Html.ActionLink("Delete", "Delete", new { id = Model.ProductID }, new { @class = "btn btn-danger pull-right" })</span>
                        }
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>
