@model IEnumerable<StoreFrontApplication.DATA.EF.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmtInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmtOnOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockStatu.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.CompanyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmtInStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmtOnOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockStatu.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
