@model IEnumerable<StoreFrontApplication.DATA.EF.Product>

@{
    /**/

    ViewBag.Title = "Shop";
}

<h2 class="text-center">@ViewBag.Title</h2>

@if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Employee"))
{
    <span class="offset-10 font-weight-bolder">@Html.ActionLink("Create New", "Create", new { @class = "offset-10 btn btn-outline-primary" })</span>

}


@foreach (var item in Model)
{



    <div class="card mb-3 offset-1" style="max-width: 80%">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="~/Content/img/cat-img-3.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@item.ProductName</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text">Supplier: @Html.DisplayFor(model => item.Supplier.CompanyName)</p>
                    <p class="card-text">Stock Status: <span class="text-primary font-weight-bold">@Html.DisplayFor(model => item.StockStatu.Status)</span></p>
                    <p class="card-text">@item.AmtInStock in stock</p>
                    <p class="card-text">
                        <small class="text-muted">
                            Price:<br />
                            @Html.DisplayFor(model => item.Price)<br />
                            @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Employee"))
                            {
                                <span>@Html.ActionLink("Edit", "Edit", new { id = item.ProductID }, new { @class = "btn btn-outline-primary" })</span>
                            }
                            <br />
                            <hr />
                            <br />
                            @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Employee"))
                            {
                                <span>@Html.ActionLink("Delete", "Delete", new { id = item.ProductID }, new { @class = "btn btn-lg btn-danger pull-right" })</span>
                            }
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
}











