@model IEnumerable<StoreFrontApplication.DATA.EF.Product>

@{
    /**/

    ViewBag.Title = "Shop";
}

<h2 class="text-center">@ViewBag.Title</h2>

@if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Employee"))
{
    <span class="offset-10 font-weight-bolder">@Html.ActionLink("Create New", "Create", new { @class = "offset-10 btn btn-outline-primary" })</span>

}


@foreach (var item in Model)
{



    <div class="card mb-3 offset-1" style="max-width: 80%">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a href="@Url.Action("Details", new { id = item.ProductID } ) " title="@item.ProductName">
                    <img src="~/Content/img/products/@item.ProductName .jpg" class="card-img" alt="@item.ProductName thumbnail image">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@item.ProductName</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text">Supplier: @Html.DisplayFor(model => item.Supplier.CompanyName)</p>
                    <p class="card-text">Stock Status: <span class="text-primary font-weight-bold">@Html.DisplayFor(model => item.StockStatu.Status)</span></p>
                    <p class="card-text">@item.AmtInStock in stock</p>

                </div>
            </div>
        </div>
    </div>
}











